.playground {
  display: flex;
  height: 100vh;
  width: 100vw;
  border: 5px solid var(--dark-bleu);;
}
.playground>div {
  width: calc(100% - 45px);
  height: 100%;
  display: flex;
}

.editor {
  width: 100%;
  height: 100%;
  position: relative;
}

.editor-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
}

.gutter {
  cursor: col-resize;
}

.gutter:hover {
  background-color: var(--primary);
}

.ace-monokai,.ace_gutter {
  background-color: var(--dark-bleu-main) !important;
}
.ace-monokai .ace_marker-layer .ace_active-line,.ace-monokai .ace_gutter-active-line {
  background: #000d19c2;
}
/*******************************/
.tabs {
  width:45px;
  height: 100%;
  background-color: var(--light-bleu);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.tab {
  color: #f1f1f1;
  text-align: center;
    font-size: 25px;
    padding: 5px 0;
    cursor: pointer;
}

.active-tab {background-color: var(--dark-bleu-main) !important;}

/*****************/
.output {
  display: flex;
}

.output>div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

iframe, pre {
  margin: 0;
  border: 0;
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  overflow: auto;
}

