.playground {
  display: flex;
  height: 100vh;
  width: 100vw;
  border: 5px solid var(--light-bleu);
}
.playground>div {
  width: calc(100% - 45px);
  height: 100%;
  display: flex;
}
/********************************/
.editor {
  width: 100%;
  height: 100%;
  position: relative;
}

.editor-menu {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

/****************************/
.gutter {
  background-color: var(--light-bleu);
  cursor: col-resize;
  background-image: url(../img/split.png) !important;
      background-repeat: no-repeat;
      background-position: 50%;
}

.ace-monokai,.ace_gutter {
  background-color: var(--dark-bleu-main) !important;
}
.ace-monokai .ace_marker-layer .ace_active-line,.ace-monokai .ace_gutter-active-line {
  background: #000d19c2;
}
/*******************************/
.side-tabs {
  width: 350px;
  background-color: var(--light-bleu); 
  font-size: 12px;
  color: #ffffff;
  letter-spacing: .6px;
}

.tabs {
  width:55px;
  height: 100%;  
  display: flex;   
  border: 1px solid var(--dark-bleu-main);
  font-size: 18px;
}

.side-tabs .list-group-item  {  
  background-color: var(--light-bleu);
  color: #b6b6b6;
  cursor: pointer;
  padding: .75rem 1rem;
  border-radius: 0;
}

.active-tab {background-color: var(--dark-bleu) !important; }
.active-file-index {color: var(--white) !important; }

.w-side-tabs {width: 55px;}
/*****************/
.output {
  position: relative;
}

.console {
  position:absolute;
  bottom:0;
  right: 0;
}

.console .ace_editor {
  height: calc(100% - 32px) !important;
}

.console-header {
  height: 32px;
  width: 100%;
  background-color: var(--light-bleu);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 22px;
  letter-spacing: 2px;
  border-top: 4px solid var(--dark-bleu-main);
  box-shadow: 0 0px 15px #222;
}

.console-header p,.console button {color: #f1f1f1; }

iframe, pre {
  margin: 0;
  border: 0;
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  overflow: auto;
}

.w-20 {
  width: 55px!important;
}
