.playground {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border-bottom: 5px solid var(--light-bleu);
  border-left: 5px solid var(--light-bleu);
  border-right: 5px solid var(--light-bleu);
}

.playground header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-bleu);
  color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
}
.playground header .list-group { display:flex !important; flex-direction: row; }
.playground header .list-group-item { 
  background-color: var(--light-bleu); 
  border: 1px solid rgb(0 21 40);
    cursor: pointer;
}

.playground header .list-group-item:hover {background-color: #ffffff1e;}

.playground>div {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
}
/********************************/
.editor {
  width: 100%;
  height: 100%;
  position: relative;
}

.editor .btn-group {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

/****************************/
.gutter {
  background-color: var(--light-bleu);
  cursor: col-resize;
  background-image: url(../img/split.png) !important;
      background-repeat: no-repeat;
      background-position: 50%;
      z-index: 9999;
}

.gutter:hover {background-color: var(--primary);}

.ace-monokai,.ace_gutter {
  background-color: var(--dark-bleu-main) !important;
}
.ace-monokai .ace_marker-layer .ace_active-line,.ace-monokai .ace_gutter-active-line {
  background: #1e212ba9;
}
/*******************************/
.active-tab {background-color: var(--dark-bleu-main) !important;}
/*****************/
.output > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.iframe-sandbox, .console {height:100%;}
.gutter-vertical {background-color: transparent; background-image: none !important;}

.console-header {
  height: 32px;
  width: 100%;
  background-color: var(--light-bleu);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 22px;
  letter-spacing: 2px;
  border-top: 4px solid var(--dark-bleu-main);
  box-shadow: 0 0px 15px #222;
}

iframe {
  margin: 0;
  border: 0;
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  overflow: auto;
}

pre {
  margin: 0;
  padding: 10px;
  border: 0;
  width: 100%;
  max-width: 100%;
  height: calc(100% - 32px);
  background-color: var(--dark-bleu-main);
  color: var(--white);
  overflow: auto;
}

.list-packages ul { max-height: 250px; overflow-y: auto !important;}