.slideRight {
  animation: slideRight 1s ease-in-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}