:root {
  --bg-main :#001528;
  --bg-main-light:#15314b;
  --dark-bleu:#02203c;
}

body,
#root {
  background-color: var(--dark-bleu);
  color: #ffffff;
  height: 100vh;
  width: 100vw;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

#root {
  padding: 0 15px;
}  

.btn-primary {background-color: var(--bg-main-light); border: 0; outline: none;}
textarea, .list-group {background-color: var(--bg-main);}
.list-group-item {background-color: inherit;}
/**************************/
main {
  width: 100%;
  height: 94.3%;    
  display: block;
  padding: 15px 0;
}

main>div {
  width: 100%;
  height: 100%;
  display: flex;
}

.code-result {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
}

.code-result pre {
  color: #ff3434 !important;
  font-size: 16px;
}

.gutter {
  background-color: inherit;
  cursor: col-resize;
}

.gutter:hover {background-color: var(--primary);}

.react-codemirror2 {height: 94% !important; }
.cm-s-monokai.CodeMirror {height: 100%; }
.cm-s-monokai.CodeMirror, .CodeMirror-gutter { background-color: var(--bg-main) !important;}
/**************************/
iframe {border: 0; background-color: var(--bg-main); height: 94%; width: 100%; }
.btn,select {border-radius: 0; 
  text-transform: uppercase; font-size: 14px; letter-spacing: 2px; border: 0; outline: none;}

ul { list-style: none; margin: 0; padding: 0; }

.active-copy {color: rgb(32, 255, 32);}

a {text-decoration: none !important;}

.fs-12 {font-size: 12px !important;}
.fs-14 {font-size: 14px !important;}
.fs-35 {font-size: 55px !important;}

.ltsp {letter-spacing: 2px;}

.w-20 {width: 20%;}
.w-40 {width: 40%;}

.w-15 {width: 15%;}
.w-85 {width: 85%;}

/**************************/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-main-light);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}


@media screen and (max-width: 600px) {
  #root,main {padding: 0; font-size: 12px !important;}
  main {height: 100% !important;}
  .w-20 {width: 100%;}
  .w-40 {width: 100%;}
}


/**************/
.btn-input>div {
  width: 50%;
  position: fixed;
  top: 40px;
  right: 15px;
  background-color: var(--bg-main-light);
  padding: 10px;
  z-index: 999;
}

.btn-input>div textarea {
  border: 0;
}
