*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  text-align: left;
  background-color: #1e1e1e;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* util */
.d-flex-sp {display: flex; justify-content: space-between; align-items: center;}
.d-flex {display: flex; align-items: center;}

.m-0 {margin: 0 !important;}

.mt-0 {margin-top: 0 !important;}
.mt-5 {margin-top: 5px !important;}
.mt-10 {margin-top: 10px !important;}

.mb-10 {margin-bottom: 10px !important;}
.mb-20 {margin-bottom: 20px !important;}

.mr-10 {margin-right: 10px !important;}


.p-0 {padding: 0 !important;}
.pb-0 {padding-bottom: 10px !important;}
.pt-10 {padding-top: 10px !important;}
.pb-10 {padding-bottom: 10px !important;}

.border-top {border-top: 1px solid #2c2d2e; padding-top: 10px;}
.border-bottom {border-bottom: 1px solid #2c2d2e; padding-bottom: 10px;}

.bg-yellow {background-color: #eaee05 !important; }
.bg-gray {background: #494d4e !important;}
.bg-green {background-color: #4caf50 !important; }
.bg-dark {background-color: #242729;}
.bg-choc {background-color: #795548 !important;}

.cl-blue-sky {color: #2196f3 !important;}

.fs-12 {font-size: 12px !important;}