main {
  width: 100%;
  height: 100%;
  display: flex;
  border-top: 10px solid #333333;
  border-bottom: 10px solid #333333;
}

.container, .container>div {
  width: 100%;
  height: 100%;
  display: flex;
}

#kody-ace-editor,
.result {
  height: 100% !important;
}

.result iframe {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 0;
}

.ace-monokai .ace_gutter {background-color: #1e1e1e !important;}
.ace-monokai {background-color: #1e1e1e !important; }
.ace_scrollbar-h {  overflow-x: hidden;}

.gutter {
  background: #35393a !important;
  cursor: col-resize;
  transition: background-color .2s;
}

.gutter:hover { background-color: #0080db !important; }
