main {
  width: 100%;
  height: 100%;
  display: flex;
  border-top: 10px solid #333333;
  border-bottom: 10px solid #333333;
}

.container,
.container>div {
  width: 100%;
  height: 100%;
  display: flex;
}

#kody-ace-editor,
.result {
  width: 100%;
  height: 100% !important;
}

.ace-monokai .ace_gutter {
  background-color: #1e1e1e !important;
}

.ace-monokai {
  background-color: #1e1e1e !important;
}

#ace-editor,
.ace_scrollbar-h {
  overflow-x: hidden;
}

.ace-editor,
.ace_content {
  width: 100%;
  height: 100% !important;
}

.ace_content {
  width: 100% !important;
}

.gutter {
  background: #35393a !important;
  transition: background-color .2s;
}

.gutter:hover {
  background-color: #0080db !important;
}

/* code result: iframes */
.result > div {
display: flex;
flex-direction: column;
height: 100%;
}

#iframe-console,.result iframe {
  width: 100%;
  background-color: #ffffff;
  border: 0;
}

