footer {
  height: 35px !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  background-color: #333333;
  border-top: 2px solid #222;
  font-size: 12px;
}

footer > div {display: flex;}