.jumbotron {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(135deg, #001528b4 0%, #001528dc 100%), url(../img/bg.jpg); */
  background-color: inherit;
  color: #ffffff;
}

.jumbotron h1 {
  color: var(--warning);
  font-family: 'Changa';
  text-transform: uppercase;
}

.card {background-color: var(--bg-main-light);}