/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}