/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #474141;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535151;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}