.side-bar {
  width: 94px;
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  background-color: #333333;
  padding-top: 10px;  
  border-right: 2px solid #222;
}

.side-bar ul { margin: 0; padding: 0; list-style: none; width: 100%; display: flex; flex-direction: column; align-items: center;}

.side-bar li {
  width: 80%;
}

.side-bar li button,a {
  background-color: #242729;
  color: #dadada;  
  font-size: 10px !important;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #1c1d1f;
  cursor: pointer;
  transition: background-color .3s;
  text-transform: uppercase;
  border-radius: 2px;
}

.side-bar li button:hover {
  background-color: rgb(73, 70, 252);
  color: #ffffff;
}