.w-100 {width: 100%;}
.h-100 {height: 100%; }

.h-25 {max-height: calc(100vh / 4);}

.d-none {display: none !important;}

.position-relative {position: relative;}

.d-flex {display: flex;}
.flex-column {flex-direction: column;}
.align-center {align-items: center;}
.justify-center {justify-content: center;}
.justify-between {justify-content: space-between;}

.mx-auto {margin: auto;}
.m-0 {margin: 0;}

.mb-1 {margin-bottom: 10px;}
.mt-1 {margin-top: 10px;}
.mr-1 {margin-right: 10px;}

.mt-2 {margin-top: 20px;}
.mb-2 {margin-bottom: 20px;}

.mt-3 {margin-top: 30px;}

.py-1 {padding: 10px 0;}
.pr-1 {padding-right: 10px;}
.pl-1 {padding-left: 10px;}
.pb-1 {padding-bottom: 10px;}

.py-2 {padding: 20px 0;}

.py-3 {padding: 30px;}
.pr-3 {padding-right: 30px;}
.pl-3 {padding-left: 30px;}

.bg-inherit {background-color: inherit !important;}
.bg-dark {background-color: var(--dark);}
.bg-white {background-color: var(--white);}
.bg-black {background-color: var(--black);}

.white {color: var(--white);}
.blue { color: var(--blue); }
.red { color: var(--red); }
.yellow { color: var(--yellow); }

.border-bottom {border-bottom: 1px solid var(--gray);}
.border {border: 1px solid var(--gray);}

.text-uppercase {text-transform: uppercase;}
.text-center {text-align: center;}

.grid-1-3 { display: grid; grid-template-columns: 1fr 3fr; gap: 20px; }
.grid-2 {display: grid; grid-template-columns: 1fr 1fr; gap: 20px;}

.rounded {border-radius: 50%;}

.br7 {border-radius: 7px;}

.cp {cursor: pointer;}

.overflow-auto {overflow: auto;}