.editor-output {
  max-height: 100%;
}

.editor-output>div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor-output header,
.linter header {
  height: 35px;
}

iframe {
  border: 0;
  background-color: var(--bg-main);
  height: 94%;
  width: 100%;
}

.linter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linter header {
  height: 35px;
}

.linter-output {
  height: 94%;
  width: 100%;
  overflow: auto;
}

.linter-output .react-codemirror2 {
  height: 100% !important;
}

/*************************************/

.tabs {
  width: 100%;
  height: 35px !important;
  display: flex;
  align-items: center;
  color: #afafaf;
  background-color: var(--bg-main-light);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs>div {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.tab {
  height: 100%;
  padding: 0 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
}

.active-tab {
  background-color: var(--bg-main);
  color: #ffffff;
}

.tabs .btn-outline-light.focus,
.tabs .btn-outline-light:focus,
.tabs .btn.focus,
.tabs .btn:focus {
  box-shadow: none !important;
  background-color: var(--success);
}

/****************************************/

@media screen and (max-width: 1140px) {
  .tab-title {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .tab {
    font-size: 12px;
  }
}