.home-page {
  height: 100%;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(135deg, #001528ef 0%, #001528ee 100%), url(../img/bg.jpg);
  overflow-y: auto;
  overflow-x: hidden;
}

.home-page .row img {
  width: 165%;
}

.home-page h1 {
  color: var(--success);
  font-family: 'Changa';
  text-transform: uppercase;
}


.card {
  background-color: var(--light-bleu) !important;
}
.card i {font-size: 50px;}

footer {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  background-color: var(--bg-main-light);
}

@media screen and (max-width: 600px) {
  .home-page .row img {
    display: none;
  }
}