.home-page {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* .home-page .row {
  background-image: linear-gradient(135deg, #f0ceceef 0%, #fdfdfdee 100%), url(/static/media/bg.9991689f.jpg);
} */

.img-fluid{
  box-shadow: 0 15px 45px rgba(16,30,54,.15);
}

.home-page h1 {
  text-transform: uppercase;
}

.card {
  box-shadow: 0 15px 45px rgba(16,30,54,.15);
  border: 0;
}
.card i {font-size: 80px;}

footer {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  background-color: var(--bg-main-light);
}

@media screen and (max-width: 600px) {

}