.home-page > section {
  /* background-image: linear-gradient(to bottom, rgb(19 22 24), rgb(24 31 39 / 93%) 50%, rgb(24 31 39 / 83%) 100%), url(../img/2.jpg);
  color: #ffffff; */
  min-height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-page h1 {
  font-weight: bolder;
  text-transform: uppercase;
  font-weight: 700;
}

.card {
  box-shadow: 0 15px 45px rgba(16,30,54,.15);
  border: 0;
}
.card i {font-size: 80px;}

footer {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  background-color: var(--bg-main-light);
}

@media screen and (max-width: 600px) {
.display-4 {font-size:42px;}
.sec-1 {display: none;}
}