.timer {
  position: relative; 
  width: 155px; 
}

.timer-modal {
  position: absolute;
  top: 40px;
  left: 0px;
  border: 10px solid var(--bg-main-light);
  background-color: var(--bg-main);
  padding: 10px;
  z-index: 999;
}
