.nav {
  height: 100%;
  width: 270px;
  background-color: var(--light-bleu);
  position: fixed;
  bottom: 0;
  right: 0;  
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
  z-index: 9;
}

.bg-p {
  background-color: var(--dark-bleu);
  padding: 10px;
  margin: 10px 0;
}
/*******************/
.nav .sidebar-content {
  width: 100%;
  height: 100%;
  position: relative;  
  padding: 20px;
  display: flex;
  flex-direction: column;  
  overflow: auto;
}

label {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav__toggle {
  position: absolute;
  top: 2em;
  left: 0;
  transform: translateX(-100%);
  background-color: var(--light);
  padding: 1em .5em;
  border: 0;
  border-radius: .25em 0 0 .25em;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
}

/* Navigation open styles */
.nav-open {
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  .nav {
    width: 90%;
  }
}