:root {
  --dark-bleu: #02203c;
  --dark-bleu-main: #001528;
  --light-bleu: #15314b;
}

body {
  background-color: #f7f7f7;
  font-family: 'Noto Sans';
  overflow-y: auto;
  overflow-x: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  display: block;    
}

.navbar {
  font-family: 'Changa';
  letter-spacing: 2px;
}

thead, .navbar {
  background-color: var(--dark-bleu) !important;
  color:#ffffff;
}

/*****************************************/
.btn-warning, .btn-success {box-shadow: 0px 0px 15px 0px rgba(82, 82, 82, 0.473);}

.btn-secondary {
  background-color: var(--light-bleu);
  border-color: var(--light-bleu);
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

button,
.btn,label,th {
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

hr {
  margin: 0;
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
}

h2 {
  text-transform: uppercase;
}

.text-pink {color: var(--pink)}

.fs-34 {font-size: 34px !important;}
.fs-14 {font-size: 14px !important;}
.fs-12 {font-size: 12px !important;}
.fs-10 {font-size: 10px !important;}
/***************************/
.content {
  height: 100vh;
  width: 100vw;
  display: block;
}

/********** Profile page ******************/
.profile .card {
  padding: 40px 10px 20px;
  color: #ffffff;
  text-align: center;
}

/*************************/
.HW_badge {
left: 0 !important;
}

/*********************/
@media screen and (max-width: 600px) {
  .dsp-none {
     display: none !important;
   }
 }

 /**********************/
 ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-bleu);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
