.sidebar {
  position: fixed;
  right: 1.5%;
  bottom: 3%;
  width: 95px;
  z-index: 999;
}


.sidebar>div {
  border: 5px solid var(--bg-main-light);
  background-color: var(--bg-main);
  padding: 10px;
}

.sidebar>* {
  width: 100%;
}

.sidebar select {font-size: 12px;}

@media screen and (max-width: 600px) {
  .sidebar { display: none;}
}